.btnSpacing {
    height: 5px;
    width: 100%;
    background-color: black;
    margin: 250px 0;
    text-align: left;
}

// Wallpaper
.btnWallpaper {
    height: 100%;
    transform: scale(2.5);
    transition: transform .5s ease;
    &:hover {
        transform: scale(1);
    }
}

.btnWallpaperContainer {
    height: 400px;
    width: 300px;
    margin: 0 auto 250px auto;
    overflow: hidden;
    cursor: pointer;
}

.wallpaperContainerUI {
    width: 790px;
    margin-bottom: -427px;
}

.imgZoomedOut {
    height: 100%;
    transform: scale(2.5) translateX(20%) translateY(5%);
    transition: transform .5s ease;
}

#imgZoomedIn {
    transform: scale(1);
}

// Logo
.logoZoomedIn {
    width: 200px;
    transition: transform .5s ease, opacity .5s ease;
    position: absolute;
    z-index: 1;
    margin-top: 275px;
    margin-left: 50px;
    opacity: 0.8;
}

#logoZoomedOut {
    transform: scale(1.5);
    filter: drop-shadow(5px 5px 5px #222);
    opacity: 1;
}

// Wallpaper UI
.wallpaperLeftUI {
    @include wallpaperUI;
    height: 434px;
    margin-top: 10px;
    margin-left: 221px;
}

#wallpaperLeftOut {
    margin-left: -410px;
}

.wallpaperRightUI {
    @include wallpaperUI;
    transform: scaleX(-1);
    height: 434px;
    margin-top: 10px;
    margin-left: 510px;
}

#wallpaperRightOut {
    margin-left: 1140px;
}

.wallpaperTopUI {
    @include wallpaperUI;
    transform: scaleY(-1);
    width: 310px;
    margin-left: 240px;
    margin-top: 5px;
}

.wallpaperTopUI2 {
    @include wallpaperUI;
    transform: scaleY(-1);
    transition-delay: .3s;
    width: 310px;
    margin-left: 240px;
    margin-top: 5px;
}

#wallpaperTopOut {
    margin-top: -205px;
}

.wallpaperBottomUI {
    @include wallpaperUI;
    width: 310px;
    margin-left: 240px;
    margin-top: 404px;
}

.wallpaperBottomUI2 {
    @include wallpaperUI;
    transition-delay: .3s;
    width: 310px;
    margin-left: 240px;
    margin-top: 404px;
}

#wallpaperBottomOut {
    margin-top: 598px;
}

//Wallpaper UI v2
.wallpaperTopLeftUI {
    @include wallpaperUI;
    transform: scale(1, -1);
    width: 157px;
    margin-left: 240px;
    margin-top: 4px;
}

#wallpaperTopLeftOut {
    margin-top: -205px;
    margin-left: 60px;
}

.wallpaperTopRightUI {
    @include wallpaperUI;
    transform: scale(-1, -1);
    width: 157px;
    margin-left: 394px;
    margin-top: 4px;
}

#wallpaperTopRightOut {
    margin-top: -205px;
    margin-left: 584px;
}

.wallpaperBottomLeftUI {
    @include wallpaperUI;
    transform: scale(1, 1);
    width: 157px;
    margin-left: 240px;
    margin-top: 420px;
}

#wallpaperBottomLeftOut {
    margin-top: 630px;
    margin-left: 60px;
}

.wallpaperBottomRightUI {
    @include wallpaperUI;
    transform: scale(-1, 1);
    width: 157px;
    margin-left: 394px;
    margin-top: 420px;
}

#wallpaperBottomRightOut {
    margin-top: 630px;
    margin-left: 584px;
}

// Wallpaper background
.wallpaperBackgroundLeft {
    @include wallpaperBackground;
    width: 0px;
    height: 350px;
    margin-top: 52px;
    margin-left: 231px;
}

#wallpaperBackgroundLeftOut {
    width: 620px;
    margin-top: 52px;
    margin-left: -390px;
    transition-delay: .3s;
}

.wallpaperBackgroundRight {
    @include wallpaperBackground;
    width: 0px;
    height: 350px;
    margin-top: 52px;
    margin-left: 560px;
}

#wallpaperBackgroundRightOut {
    width: 620px;
    margin-top: 52px;
    transition-delay: .3s;
}

.wallpaperBackgroundTop {
    @include wallpaperBackground;
    width: 620px;
    height: 0px;
    transform: scaleY(-1);
    margin-top: 10px;
    margin-left: 90px;
}

#wallpaperBackgroundTopOut {
    transition-delay: .5s;
    height: 200px;
    margin-top: -190px;
}

.wallpaperBackgroundBottom {
    @include wallpaperBackground;
    width: 620px;
    height: 0px;
    transform: scaleY(-1);
    margin-top: 445px;
    margin-left: 90px;
}

#wallpaperBackgroundBottomOut {
    transition-delay: .5s;
    height: 200px;
}