.swiperContainer {
    width: 80%;
    // height: 500px;
    margin: 100px 10%;
}

.swiperItemContainer {
    
}

.swiperItem {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 50px;
}