$shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);

@mixin popDiv {
    box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
    background-color: rgba(20, 49, 141, 0.459);
    border-radius: 30px;
    min-width: 800px;
}
