.datePickerContainer {
  width: 200px;
  padding-left: 28px;
  height: 90px;
  border-radius: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  margin-bottom: 250px;
  margin-top: 100px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
}

.timerContainer {
  width: 760px;
  border-radius: 10px;
  height: 300px;
  margin-top: 100px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
}

.timerDescription {
  text-align: center;
}

.time {
  margin: 10px;
  width: 170px;
  text-align: center;
  float: left;
}

.timeNumber {
  font-size: 100px;
  margin: 0;
}

.timename {
  font-size: 30px;
  margin: 0;
}

.timeDots {
  position: absolute;
  font-size: 100px;
  margin: -185px 0 0 170px;
}

.apiListContainer {
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
  border-radius: 20px;
  min-width: 600px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
  padding: 20px;
  height: 750px;
}

.apiListTitle {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 30px;
}

.apiItem {
  background-color: rgba(117, 117, 117, 0.158);
  width: 450px;
  height: 70px;
  padding: 10px;
  border-radius: 30px;
  margin: 20px;
  float: left;
}

.apiLogo {
  width: 100px;
  float: left;
  margin-right: 20px;
}

.apiName {
  font-size: large;
}

.addImgBtn {
  margin-top: 100px;
  margin-bottom: 25px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.uploadPreviewContainer {
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
  padding: 75px 25px;
  height: 575px;
  font-size: 30px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.uploaderImageContainer {
  height: 400px;
  margin-bottom: 115px;
}

.uploaderImage {
  max-height: 400px;
  max-width: 100%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.textContainer {
  height: 50px;
  position: absolute;
  padding: 10px 20px;
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
}

.uploaderText {
  width: 90%;
  margin-left: 5%;
}

.uploaderName {
  left: 550px;
  margin-top: 0px;
}

.uploaderTime {
  width: 500px;
}

.uploaderHour {
  float: left;
  margin-top: 0px;
}

.uploaderMinute {
  float: left;
  margin-top: 0px;
}

.postButton {
  background-color: #9c0000;
  width: 200px;
  padding: 5px 0;
  margin: -50px 0 50px 75px;
  float: left;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
}

.postButton:active {
  background-color: #4b0000;
}

.addButton {
  height: 100px;
  margin-left: 50%;
}

.tasksContainer {
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
  width: 80%;
  margin-left: 5%;
  padding: 5%;
}

.taskItem {
  width: 1100px;
  height: 75px;
  background-color: #636363;
  margin: 20px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-left: 30px solid #25258f;
  border-right: 30px solid #25258f;
  border-radius: 15px;
  -webkit-box-shadow: 2px 4px 6px 6px rgba(0, 0, 0, 0.39);
          box-shadow: 2px 4px 6px 6px rgba(0, 0, 0, 0.39);
}

.taskPlatform {
  height: 75px;
  float: left;
  margin-right: 20px;
  padding: 0 30px;
  background-color: lightgray;
}

.taskLogo {
  height: 100%;
  margin-right: 10px;
}

.taskName {
  font-size: 30px;
  width: 630px;
  margin-top: 18px;
  margin-right: 15px;
}

.taskNameInput {
  font-size: 30px;
  width: 630px;
  margin-right: 15px;
  border-style: hidden;
  background-color: #636363;
  color: white;
}

.taskNameInput::-webkit-input-placeholder {
  color: white;
}

.taskNameInput:-ms-input-placeholder {
  color: white;
}

.taskNameInput::-ms-input-placeholder {
  color: white;
}

.taskNameInput::placeholder {
  color: white;
}

.taskBtn {
  height: 60px;
  cursor: pointer;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  margin-top: 8px;
  margin-right: 10px;
}

.taskBtn:hover {
  -webkit-box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.39);
          box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.39);
}

#taskCompleted {
  background-image: url("../images/checked.png");
  background-size: 100px;
}

.swiperContainer {
  width: 80%;
  margin: 100px 10%;
}

.swiperItem {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: 50px;
}

.codexContainer {
  width: 90%;
  margin-left: 5%;
  min-height: 1000px;
  background-color: #5b9162;
}

.codexNav {
  width: 90%;
}

.codexSubNav {
  width: 120px;
  margin: 200px;
  background-color: darkblue;
  position: absolute;
}

.textContainer {
  width: 90%;
  margin-left: 5%;
}

.codexTopImg {
  width: 50%;
  background-color: white;
  margin: 50px;
  float: center;
}

.codexFacts {
  width: 40%;
  max-width: 400px;
  height: 500px;
  margin: 50px;
  background-color: white;
  float: left;
}

.codexText {
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  background-color: white;
}

.animations p {
  text-align: left;
}

.btnSpacing {
  height: 5px;
  width: 100%;
  background-color: black;
  margin: 250px 0;
}

.btnWallpaper {
  height: 100%;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.btnWallpaper:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btnWallpaperContainer {
  height: 400px;
  width: 300px;
  margin-bottom: 210px;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.wallpaperContainerUI {
  width: 790px;
  margin-bottom: -427px;
}

.imgZoomedOut {
  height: 100%;
  -webkit-transform: scale(2.5) translateX(20%) translateY(5%);
          transform: scale(2.5) translateX(20%) translateY(5%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#imgZoomedIn {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.logoZoomedIn {
  width: 200px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity .5s ease;
  transition: transform .5s ease, opacity .5s ease, -webkit-transform .5s ease;
  position: absolute;
  z-index: 1;
  margin-top: 275px;
  margin-left: 50px;
  opacity: 0.8;
}

#logoZoomedOut {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
  opacity: 1;
}

.wallpaperLeftUI {
  position: absolute;
  height: 434px;
  margin-top: 10px;
  margin-left: 221px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#wallpaperLeftOut {
  margin-left: -185px;
}

.wallpaperRightUI {
  position: absolute;
  height: 434px;
  margin-top: 10px;
  margin-left: 510px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#wallpaperRightOut {
  margin-left: 917px;
}

.wallpaperTopUI {
  position: absolute;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 310px;
  margin-left: 240px;
  margin-top: 5px;
}

.wallpaperTopUI2 {
  position: absolute;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  width: 310px;
  margin-left: 240px;
  margin-top: 5px;
}

#wallpaperTopOut {
  margin-top: -205px;
}

.wallpaperBottomUI {
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 310px;
  margin-left: 240px;
  margin-top: 404px;
}

.wallpaperBottomUI2 {
  position: absolute;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  width: 310px;
  margin-left: 240px;
  margin-top: 404px;
}

#wallpaperBottomOut {
  margin-top: 598px;
}

.wallpaperTopLeftUI {
  position: absolute;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 157px;
  margin-left: 240px;
  margin-top: 4px;
}

#wallpaperTopLeftOut {
  margin-top: -205px;
  margin-left: 100px;
}

.wallpaperTopRightUI {
  position: absolute;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 157px;
  margin-left: 394px;
  margin-top: 4px;
}

#wallpaperTopRightOut {
  margin-top: -205px;
  margin-left: 534px;
}

.wallpaperBottomLeftUI {
  position: absolute;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 157px;
  margin-left: 240px;
  margin-top: 420px;
}

#wallpaperBottomLeftOut {
  margin-top: 598px;
  margin-left: 100px;
}

.wallpaperBottomRightUI {
  position: absolute;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 157px;
  margin-left: 394px;
  margin-top: 420px;
}

#wallpaperBottomRightOut {
  margin-top: 598px;
  margin-left: 534px;
}

.App {
  background-image: -webkit-gradient(linear, left top, right top, from(#6e6e6e), to(#3d3d3d));
  background-image: linear-gradient(to right, #6e6e6e, #3d3d3d);
  padding-bottom: 200px;
  color: white;
}

.pageHeaderText {
  text-align: center;
  width: 60%;
  margin: 100px 20%;
  height: 100px;
  border-radius: 20px;
  padding: 15px;
  font-size: 30px;
  font-weight: bolder;
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
}

.pageParaText {
  text-align: center;
  width: 60%;
  margin: 100px 20%;
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  -webkit-box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
          box-shadow: 3px 4px 6px 5px rgba(0, 0, 0, 0.349);
  background-color: rgba(20, 49, 141, 0.459);
  border-radius: 30px;
  min-width: 800px;
}

.exampleImg {
  width: 100%;
}

.headerContainer {
  background-color: #10133a;
}

.header {
  margin-left: 350px;
  margin-right: 100px;
  margin-top: -20px;
}

.headerSwiper {
  height: 70px;
}

.headerLogo {
  height: 70px;
  float: left;
  margin: 0 -120px 0 -30px;
  padding: 0 20px 0 30px;
  border-radius: 20px;
}

.routingButtons {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: larger;
}

.routingButtonsContainer {
  margin-top: 20px;
}

.homeButton {
  margin-left: 100px;
}

#invisableTime {
  visibility: hidden;
}
/*# sourceMappingURL=App.css.map */